<div class="btn-group">
  {{#link-to "index.feeds.add" tagName="button" classNames="btn btn-secondary"}}
    Add Feed
  {{/link-to}}
  <a href="#" class="btn btn-secondary">Fetch Articles</a>
</div>

<div class="align-self-center justify-self-center">
  <span class="text-muted">Select a feed on the left to get started</span>
</div>
