<div class="btn-group">
  {{#link-to
    "index.add"
    tagName="button"
    classNames="btn btn-secondary"
    title="Add feed"
  }}
    {{fa-icon 'plus'}}
    {{fa-icon 'rss'}}
  {{/link-to}}
  <a href="#" class="btn btn-secondary" title="Fetch new articles">
    {{fa-icon 'sync'}}
  </a>
</div>

<div class="align-self-center justify-self-center">
  <span class="text-muted">Select a feed on the left to get started</span>
</div>
