<div class="folder-item">
  <div class="folder">
    <span class="text-muted">Articles</span>
  </div>
  <div class="list-group feeds">
    <div class="list-group-item feed-item">
      {{#link-to "index.feed.articles" "archived"}}
        <div class="d-flex justify-content-between">
          <div>
            <span class="feed-icon">
              <i class="fa fa-star"></i>
            </span>
            Archive
          </div>
          <span class="badge badge-secondary">{{starred}}</span>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>

<div class="sidebar-item">
  <div class="d-flex justify-content-start align-items-center">
    <span class="text-muted">
      Folders
    </span>
    <div class="ml-auto">
      {{#link-to "index.folders.add" activeClass=""}}
        <i class="fa fa-plus-circle"></i>
      {{/link-to}}
    </div>
  </div>
</div>
<div class="list-group folder-list">
  {{#sortable-objects sortableObjectList=sortedFolders sortEndAction=(route-action "sort" sortedFolders)
                      enableSort=true
                      inPlace=true
                      sortingScope="foldersSorting" useSwap=false}}
    {{#each sortedFolders as |folder|}}
      {{#draggable-object content=folder isSortable=true sortingScope="foldersSorting"}}
        {{folder-item folder=folder classNames="folder-item list-group-item"}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
</div>
<div class="folder-item">
  <div class="folder">
    <span class="text-muted">
      Feeds
    </span>
  </div>
  {{feed-items classNames="list-group feeds" feeds=feeds}}
</div>
