{{#link-to "feeds.feed.articles" feed.id}}
  <div class="d-flex justify-content-between">
    <div>
      <span class="feed-icon">
        {{#if feed.icon}}
          <img src="{{feed.icon}}" alt="feed icon">
        {{else}}
          <img src="/ember-frontend/img/feed-icon.png" alt="feed icon">
        {{/if}}
      </span>
      {{feed.name}}
    </div>
    <span class="badge badge-secondary">{{feed.meta.articles-unread-count}}</span>
  </div>
{{/link-to}}

