$header-height: 4em;

@mixin overflow-scroll() {
  overflow-y: visible;
  overflow-x: hidden;
}

@mixin absolute-position() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: "Open Sans Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #eee;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  // mobile //

  > div.application {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: #ccc;
    height: inherit;
    z-index: 0;

    .background-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      //noinspection CssUnknownTarget
      //background-image: url('img/background-nextfeed.png');
    }

    #content {
      position: relative;
      flex-grow: 1;

      .fullpage-column-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        //flex-grow: 1;
        height: inherit;
        width: inherit;
      }
    }

    #side-bar, #column-one, #column-two, #fullpage-content {
      width: 0;
      @include absolute-position;
      @include overflow-scroll;
      transition: width .7s ease-in;
      display: flex;
      flex-direction: column;

      &.enabled {
        transition: width .7s ease-out;
        width: 100%;
      }
    }

    #fullpage-content {
      padding: 1rem;
      z-index: 4;
      //width:100%;
    }

    .custom-select {
      background: none;
    }
  }
}

img {
  max-width: 100%;
}

.blur {
  /* All the background image supports */
  transform: translate(0px, 0px);
  background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  position: absolute;
  width: 100%;
  height: 100%;

  /* blur filters */
  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);

  /* positioning and removing edges */
  top: -70px;
  right: -70px;
  left: -70px;
  padding: 70px;
}

.blur:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;

  /* Setting the gradient. Adds depth, and glass like effect. */
  background-image: -webkit-linear-gradient(289deg, rgba(20, 40, 50, 0.9) 0%, rgba(20, 40, 50, 0.6) 46%, rgba(0, 0, 0, 0.5) 50%);
  background-image: -moz-linear-gradient(289deg, rgba(20, 40, 50, 0.9) 0%, rgba(20, 40, 50, 0.6) 46%, rgba(0, 0, 0, 0.5) 50%);
  background-image: -o-linear-gradient(289deg, rgba(20, 40, 50, 0.9) 0%, rgba(20, 40, 50, 0.6) 46%, rgba(0, 0, 0, 0.5) 50%);
  background-image: linear-gradient(-19deg, rgba(20, 40, 50, 0.9) 0%, rgba(20, 40, 50, 0.6) 46%, rgba(0, 0, 0, 0.5) 50%);

  /* Blur to add depth. High to create smooth transition */
  -webkit-filter: blur(70px);
  -o-filter: blur(70px);
  filter: blur(70px);
}

a:link {
  color: $color3;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.scroll-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.input-group-text {
  background-color: inherit;
}

.btn.btn-link {
  color: #eee;
}

.loader {
  padding: 1rem;
  text-align: center;
}
