.article-placeholder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50%;
    filter: opacity(50%);
  }

}

.articles {
  height: inherit;
  max-height: 100%;
  display: flex;
  justify-self: flex-start !important;
  flex-direction: column;
  margin-bottom: -$header-height;

  #article-list-items {
    position: relative;
    @include overflow-scroll();
    height: inherit;
    max-height: inherit;

    .article-list-item {

      &:first-child {
        border-top: none;
      }

      padding: .5rem;
      border-top: 1px solid $color1;
      font-size: .8rem;

      &.unread {
        color: inherit;
      }

      &.read {
        color: $color2;
        h5 {
          font-weight: normal;
        }
      }

      .article-title {
        font-size: .9rem;
        font-weight: bold;
      }

      .actions {
        color: $color1;
      }
    }

  }
}

#articles-header {
  padding: .5rem;
  background: lighten($color1, 65%);
  color: #333;
}

#article-search-result {
  position: absolute;
  @include overflow-scroll();
  top: $header-height;
  max-height: 100vh;
  height: 100vh;
  margin-bottom: -$header-height;
  color: #ccc;
  width: 100%;
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding: 0 .5rem 5rem .5rem;
  left: 0;
  z-index: 20;
  background: rgba(darken($color2, 40%), .85);

  .article-result {
    padding: .5rem;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &:hover {
      background: #ccc;
      color: #555;
    }
  }
}
