.full-article {
  width: inherit;
  color: inherit;
  padding: .25rem .5rem 3rem .5rem;
  transition: all .6s ease;

  pre {
    font-size: .5rem;
  }

  .article-actions {
    > * {
      margin-bottom: 1rem;
    }
  }

  .article-header {
    margin-bottom: 2rem;
  }

  .article-title {
    text-overflow: ellipsis;
  }
}

