.article-placeholder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50%;
    filter: opacity(50%);
  }

}

//height: inherit;
//max-height: 100%;
//display: flex;
//justify-self: flex-start !important;
//flex-direction: column;

#articles-header {
  background: rgba(11, 11, 11, .6);
  padding: .5rem;

  .feed {
    &.description {
      margin-bottom: .5rem;
      font-size: .7rem;
    }
  }
}

.articles {
  font-size: .8rem;
  @include overflow-scroll;


  .article-list-item-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .article-list-item-action, a.article-list-item-action:link {
      color: #eee;
    }
  }

  .article {
    &.preview {
      padding: 1rem;

      &.unread {
        h6 {
          font-weight: bold;
        }
      }

      &.read {
        h6, .description {
          color: darken(#eeeeee, 20%);
        }
      }

      h6 {
        font-size: .9rem;
      }

      .description {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      border-bottom: 1px solid #666;
    }
  }
}
