#column-one {
  //padding: 1rem;
  z-index: 2;

  .feed-header {
    background: rgba(11, 11, 11, .8)
  }

  .articles {
    @include overflow-scroll;
  }

  .article {
    &.preview {
      h6 {
        font-size: 1rem;
      }

      padding: 1rem;
    }
  }
}
