#column-one {
  display: none;
  padding: 1rem;
  z-index: 2;

  &.enabled {
    display: flex;
    flex-direction: column;
    @include absolute-position;
    //noinspection CssUnknownTarget
    //background: rgba(0, 0, 0, .94);

    .feed-header {
      background: rgba(11, 11, 11, .8)
    }

    .articles {
      @include overflow-scroll;
    }
  }
}
