.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.content-start {
    justify-content: flex-start;
  }

  &.content-end {
    justify-content: flex-end;
  }

  &.content-between {
    justify-content: space-between;
  }

  &.content-around {
    justify-content: space-evenly;
  }

  &.align-center {
    align-items: center;
  }
}

.self-start {
  align-self: start !important;
}

.self-end {
  justify-self: flex-end !important;
}
