#side-bar {
  height:inherit;
  max-height: inherit;
  @include overflow-scroll();
  position: relative;

  $list-group-action-color: #ccc;
  background: lighten($color1, 2%);

  .sidebar-item {
    //padding-left:1em;

    &.search {
      margin-top: 1em;
      //padding-right:1em;
    }

  }

  .list-group {
    width: 100%;
    padding: 0;
    margin: 0;
    background: $color1;
  }

  .list-group-item {
    padding: 0;
    border: none;
    background: inherit;
  }

  .folder-list {
    border-radius:$border-radius;
  }

  .folder-item {
    font-weight: bold;
    margin-top: 1rem;

    .folder {
      color: #eee;
      padding: 1em;
    }

    .feeds {
      background: darken($color1, 4%);
    }

    .feed-item {
      background: inherit;
    }
  }

  .feed-icon {
    margin-right: 1rem;
    width: 16px;
    //background: #333;
    padding-left: 1em;
    max-width: 16px;

    img {
      width: inherit;
      max-width: inherit;
    }
  }

  .icon {
    padding-right: 1rem;
  }

  a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1em 1em 1em 0;
    color: $list-group-action-color;
    font-weight: bold;

    &:hover {
      background: lighten($color1, 5%);
      color: #999;
    }

    &.active {
      background: lighten($color1, 10%);
      color: #fff;
    }
  }

}
