body > div.application #side-bar {
  z-index: 1;

  .feed-actions {
    padding: .25rem;
    background: rgba(11, 11, 11, 0.6);
  }

  $list-group-action-color: #ccc;
  //background: lighten($color1, 2%);
  .item {
    padding: 0;
    margin: 0;

    &.search {
      margin-top: 1em;
      //padding-right:1em;
    }
  }

  .folder-list {
    border-radius: $border-radius;
  }

  .folder-item {
    font-weight: bold;
    margin-top: 1rem;

    .folder {
      color: #eee;
      padding: 1em;
    }

    .feeds {
      background: darken($color1, 4%);
    }

    .feed-item {
      background: inherit;
    }
  }

  .feed-icon {
    margin-right: 1rem;
    width: 1rem;
    //background: #333;
    padding-left: 1em;
    max-width: 1rem;

    img {
      width: inherit;
      max-width: inherit;
    }
  }

  .icon {
    padding-right: 1rem;
  }

  a, a:link {
    text-decoration: none;
    color: $list-group-action-color;
    font-weight: bold;
    width: 100%;
    padding: .5rem .5rem .5rem 0;

    .feed {
      &.name {
        margin-left: 1rem;
        justify-self: start;
        text-overflow: ellipsis;
      }

      &.unread-count {
        margin-left: auto;
      }

      &:hover {
        background: lighten($color1, 5%);
        color: #999;
      }

      &.active {
        background: lighten($color1, 10%);
        color: #fff;
      }
    }
  }

  //a {
  //  text-decoration: none;
  //  //width: 100%;
  //  padding: .5rem .5rem .5rem 0;
  //  color: $list-group-action-color;
  //  font-weight: bold;
  //
  //  .feed {
  //    &.name {
  //      margin-left: 1rem;
  //      justify-self: start;
  //      text-overflow: ellipsis;
  //    }
  //
  //    &.unread-count {
  //      margin-left: auto;
  //    }
  //  }
  //
  //  &:hover {
  //    background: lighten($color1, 5%);
  //    color: #999;
  //  }
  //
  //  &.active {
  //    background: lighten($color1, 10%);
  //    color: #fff;
  //  }
  //}

}
