body > div.application #side-bar {
  z-index: 1;

  .feed-actions {
    width: 100%;
    padding: .25rem;
    background: rgba(11, 11, 11, 0.6);
  }

  $list-group-action-color: #ccc;
  //background: lighten($color1, 2%);
  .item {
    padding: 0;
    margin: 0;
  }

  .folder-list {
    border-radius: $border-radius;
  }

  .folder-item {
    font-weight: bold;

    .folder {
      padding: .5rem;
    }

    .feeds {
      background: darken($color1, 4%);
    }

    .feed-item {
      background: inherit;
    }
  }

  .feed-icon {
    margin-right: .5rem;
    width: 1rem;
    //background: #333;
    padding-left: 1em;
    max-width: 1rem;

    img {
      width: inherit;
      max-width: inherit;
    }
  }

  .icon {
    padding-right: 1rem;
  }

  a, a:link {
    text-decoration: none;
    color: $list-group-action-color;
    font-weight: bold;
    width: 100%;
    padding: .5rem .5rem .5rem 0;

    .feed {
      display: inline-block;
      text-overflow: ellipsis;

      &.name {
        margin-left: 1rem;
        justify-self: start;
      }

      &.unread-count {
        margin-left: auto;
      }

      &:hover {
        background: lighten($color1, 5%);
        color: #999;
      }

      &.active {
        background: lighten($color1, 10%);
        color: #fff;
      }
    }
  }

  #article-search-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 20;
    //height: 100%;
    position: relative;
    @include overflow-scroll;

    .input-group-text {
      background-color: inherit;
      color: inherit;
    }

    #article-search-result {
      //@include overflow-scroll;
      background: rgba(11, 11, 11, .8);

      //max-height: 100vh;
      //height: 100vh;
      //margin-bottom: -$header-height;
      //color: #ccc;
      //width: 100%;
      //margin-left: -.5rem;
      //margin-right: -.5rem;
      //padding: 0 .5rem 5rem .5rem;
      //left: 0;
      //z-index: 20;
      //background: rgba(darken($color2, 40%), .85);

      .article-search-result {
        //padding: .5rem;

        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }

        &:hover {
          background: #ccc;
          color: #555;
        }
      }
    }
  }


}
