$header-height: 4em;

@mixin overflow-scroll() {
  overflow-y: visible;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: "Open Sans Regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #eee;
  // mobile //

  > div.application {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: #ccc;

    #content {
      position: relative;
      flex-grow: 1;
      @include overflow-scroll;

      .fullpage-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        font-size: 13px;
        display: flex;
        flex-direction: row;
      }

      #side-bar {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .15);
        width: 100%;
      }
    }

    //#side-bar {
    //  background: $color1;
    //  //display: none;
    //  z-index: 1;
    //
    //  &.enabled {
    //    display: block;
    //  }
    //}
    //
    //#column-one, #column-two {
    //  display: none;
    //
    //  &.enabled {
    //    display: flex;
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //  }
    //}
    //
    //#column-one {
    //  z-index: 2;
    //  background: #fff;
    //}
    //
    //#column-two {
    //  background: #fff;
    //  z-index: 3;
    //
    //}
  }

  //
  //  // bigger -> grid
  //  @include media-breakpoint-up(md) {
  //
  //    .mobi-close {
  //      display: none;
  //    }
  //
  //    > div.app-view {
  //      width: inherit;
  //      height: inherit;
  //      display: grid;
  //      grid-template-areas: "header header header" "side-bar column-one column-two";
  //      grid-template-rows: $header-height 1fr;
  //      grid-template-columns: 17em .40fr .60fr;
  //
  //      header {
  //        height: $header-height;
  //        background: darken($color1, 5%);
  //        grid-area: header;
  //      }
  //
  //      #side-bar {
  //        position: relative;
  //        max-height: inherit;
  //        font-size: .85rem;
  //        grid-area: side-bar;
  //        @include overflow-scroll();
  //      }
  //
  //      #column-one {
  //        position: relative !important;
  //        display: flex;
  //        flex-direction: column;
  //        justify-content: flex-start;
  //        background: lighten($color2, 60%);
  //        font-size: .85rem;
  //        grid-area: column-one;
  //        @include overflow-scroll();
  //      }
  //
  //      #column-two {
  //        max-height: inherit;
  //        position: relative !important;
  //        display: flex;
  //        flex-direction: column;
  //        padding: .5em;
  //        border-left: 1px solid #ccc;
  //        background: lighten($color2, 60%);
  //        grid-area: column-two;
  //        @include overflow-scroll();
  //
  //        .article-placeholder {
  //          align-self: center;
  //        }
  //      }
  //
  //    }
  //  }
  //}
  //
  //blockquote {
  //  padding-top: .5rem;
  //  padding-left: .5rem;
  //  border-left: .2rem solid #ccc;
  //}
  //
  //.justify-self-center {
  //  align-self: center !important;
  //}
  //
  //.action {
  //  cursor: pointer;
  //}
  //
  //.infinity-loader {
  //
  //  div:first-child {
  //    padding: 1rem;
  //  }
  //
  //  &.reached-infinity {
  //
  //  }
  //}
  //
  //fieldset {
  //  margin: 1rem;
  //  border: 1px solid #ccc;
  //  border-radius: $border-radius;
  //  background: #fff;
  //  padding: 1rem;
  //}
  //
  ///* enable absolute positioning */
  //.inner-addon {
  //  position: relative;
  //}
  //
  ///* style glyph */
  //.inner-addon .glyphicon {
  //  position: absolute;
  //  padding: 10px;
  //  pointer-events: none;
  //}
  //
  ///* align glyph */
  //.left-addon .glyphicon {
  //  left: 0px;
  //}
  //
  //.right-addon .glyphicon {
  //  right: 0px;
  //}
  //
  ///* add padding  */
  //.left-addon input {
  //  padding-left: 30px;
  //}
  //
  //.right-addon input {
  //  padding-right: 30px;
  //}
  //
  //.folder-droppable {
  //  display: inline-block;
  //}
  //
  //.custom-select {
  //  background: none;
  //}

  .custom-select {
    background: none;
  }
}
