<div class="d-flex flex-row">
  <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3 side-bar mh-100">

    <div class="list-group folder-list">
      {{#each model.folders as |folder|}}
        {{folder-item folder=folder classNames="folder-item list-group-item"}}
      {{/each}}
    </div>

    <div class="list-group feed-list">
      {{#each model.feeds as |feed|}}
        {{feed-item feed=feed classNames="list-group-item feed-item"}}
      {{/each}}
    </div>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-3 col-xl-7" class="article-list">
    {{outlet "article-list" tagName=''}}
  </div>
</div>
