{{#link-to "index.feeds.feed.articles" feed.id}}
  <div class="d-flex justify-content-between  align-items-baseline">
      <span class="feed-icon">
        {{#if feed.icon}}
          <img src="{{feed.icon}}" alt="feed icon">
        {{else}}
          <img src="/frontend/img/feed-icon.png" alt="feed icon">
        {{/if}}
      </span>
    <span class="align-self-stretch text-left w-100 pl-2">{{feed.name}}</span>
    {{#if feed.unreadCount}}
      <span class="badge badge-secondary">{{feed.unreadCount}}</span>
    {{/if}}
  </div>
{{/link-to}}

