<h4 class="article-title list-group-item-heading">{{article.title}}</h4>
{{#link-to "feeds.feed.articles.article" article.id}}
  <div class="meta list-group-item-text">
    <div>{{moment-format article.updatedDate 'LLL'}}</div>
    {{#if article.author}}
      <i>By {{article.author}}</i>
    {{/if}}
  </div>
  <div class="article-description">
    {{articleDescription}}
  </div>
{{/link-to}}
