<div class="folder-item">
  <div class="folder d-flex justify-content-start align-items-center">
    <div class="text-muted p-2">
      Folders
    </div>
    <div class="ml-auto p-2">
      {{#link-to "folders.add"}}
        {{fa-icon "plus-circle"}}
      {{/link-to}}
    </div>
  </div>
</div>
<div class="list-group folder-list">
  {{#each model.folders as |folder|}}
    {{folder-item folder=folder classNames="folder-item list-group-item"}}
  {{/each}}
</div>
<div class="folder-item">
  <div class="folder">
    <span class="text-muted">
      Feeds
    </span>
  </div>
  <div class="list-group feed-list">
    {{#each model.feeds as |feed|}}
      {{feed-item feed=feed classNames="list-group-item feed-item"}}
    {{/each}}
  </div>
</div>

