<div class="ml-auto mt-2">
  {{#link-to "index"
             tagName="button"
             activeClass=null
             classNames="btn btn-sm btn-outline-secondary round"
  }}
    {{fa-icon "times"}}
  {{/link-to}}
</div>

<h3 class="">Add a folder</h3>

<div class="form-group">
  <label for="name">Name</label>
  {{input type="text" value=model.name class="form-control"}}
</div>

<div class="form-group">
  <button type="button" class="btn btn-secondary" {{action (route-action "save" model)}}>Save</button>
</div>

