<div class="list-group">
  {{#each model as |article|}}
    <div class="list-group-item">
      {{article.title}}
      {{moment-format article.publishDate 'LLL'}}
    </div>
  {{/each}}
</div>
{{outlet}}
