{{#link-to onCloseRoute
}}
  <i class="fa fa-close"></i>
{{/link-to}}

<h3 class="ui header">
  {{article.title}}
</h3>

<div class="article-content">
  {{content}}
</div>
<div class="ui divider"></div>
<a class="btn btn-outline-secondary" href={{article.url}} target="_blank" {{action (route-action "originalArticle")
                                                                            preventDefault=false}}
   data-content="Open article in new tab">
  <i class="external icon"></i>
  Open Original Article
</a>

<div class="ui divider"></div>
