$btn-action-color: #354A17;

.btn {
  border-radius: 3px;
  cursor: pointer;

  &.btn-outline-secondary {
    color: $color2;
    border-color: $color2;
  }

}

button {
  &:disabled {
    cursor: not-allowed;
  }
}
