$header-height: 4em;

// https://coolors.co/7c6c77-ebf8b8-aaa694-d1d0a3-ffe787
$color5: rgba(51, 158, 53, 1);
$color3: rgba(224, 219, 108, 1);
$color2: rgba(89, 97, 87, 1);
$color4: rgba(103, 119, 108, 1);
$color1: rgba(24, 48, 78, 1);

$color1-light: lighten($color1, 20%);

@mixin overflow-scroll() {
  //overflow: auto;
  overflow-y: visible;
  overflow-x: hidden;
  //overflow-scrolling: touch;
  //-webkit-overflow-scrolling: touch;
}

body.ember-application {
  font: 100% "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: lighten($color1, 15%);

  > div.ember-view {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-areas: "header header header" "side-bar column-one column-two";
    background: #ccc;
    grid-template-rows: $header-height 1fr;
    grid-template-columns: 16em .4fr .6fr;
  }

  header {
    height: $header-height;
    background: darken($color1, 5%);
    grid-area: header;
  }

  #side-bar {
    position: relative;
    max-height: inherit;
    background: $color1;
    grid-area: side-bar;
    @include overflow-scroll();
  }

  #column-one {
    display: flex;
    flex-direction: column;
    color: $color1;
    justify-content: flex-start;
    background: lighten($color2, 60%);
    grid-area: column-one;
    @include overflow-scroll();
  }

  #column-two {
    max-height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5em;
    border-left:1px solid #ccc;
    background: lighten($color2, 60%);
    grid-area: column-two;
    @include overflow-scroll();

    .article-placeholder {
      align-self: center;
    }
  }
}

blockquote {
  padding-top: .5rem;
  padding-left: .5rem;
  border-left: .2rem solid #ccc;
}

.justify-self-center {
  align-self: center !important;
}

.action {
  cursor: pointer;
}

.infinity-loader {

  div:first-child {
    padding: 1rem;
  }

  &.reached-infinity {

  }
}

