header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a.navbar-brand {
    color: lighten($color2, 20%);
    font-size:1.5rem;
    font-weight: bold;
  }

  &:first-child {
    padding-left: 1rem;
  }

  &:last-child {
    padding-right: 1rem;
  }

  .nav-link {
    color: #eee;

    &.active {
      color: $orange;
    }
  }

}
