$h1-font-size: 1.4rem;
$h2-font-size: 1.35rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;

// https://coolors.co/7c6c77-ebf8b8-aaa694-d1d0a3-ffe787
$color5: rgba(51, 158, 53, 1);
$color3: rgba(224, 219, 108, 1);
$color2: rgba(89, 97, 87, 1);
$color4: rgba(103, 119, 108, 1);
$color1: rgba(24, 48, 78, .15);

.text {
  &.center {
    text-align: center;
  }

  &.green {
    color: $color5;
  }

  &.bold {
    font-weight: bold;
  }
}


$lightblue: #5099d0;
$orange: #f54907;

$color1-light: lighten($color1, 20%);
//noinspection CssUnknownTarget
@import "ember-bootstrap/functions";
//noinspection CssUnknownTarget
@import "ember-bootstrap/variables";
//noinspection CssUnknownTarget
@import "ember-bootstrap/mixins";
//noinspection CssUnknownTarget
@import "ember-bootstrap/media";
// Optional - Bootstrapping/Resetting //
//noinspection CssUnknownTarget
@import "ember-bootstrap/root";
//noinspection CssUnknownTarget
@import "ember-bootstrap/print";
//noinspection CssUnknownTarget
@import "ember-bootstrap/reboot";
// Optional - Everything else //
//noinspection CssUnknownTarget
@import "ember-bootstrap/type";
//noinspection CssUnknownTarget
@import "ember-bootstrap/buttons";
//noinspection CssUnknownTarget
//@import "ember-bootstrap/grid";
//noinspection CssUnknownTarget
@import "ember-bootstrap/forms";
//noinspection CssUnknownTarget
@import "ember-bootstrap/custom-forms";
//noinspection CssUnknownTarget
@import "ember-bootstrap/input-group";
//noinspection CssUnknownTarget
@import "ember-bootstrap/utilities/spacing";
//noinspection CssUnknownTarget
@import "ember-bootstrap/badge";
//noinspection CssUnknownTarget
@import "ember-bootstrap/alert";
//noinspection CssUnknownTarget
//@import "ember-bootstrap/list-group";

//noinspection CssUnknownTarget
//@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'src/flex';
@import 'src/app-layout';
@import "src/buttons";
@import "src/header";
@import "src/side-bar";
@import "src/column-one";
@import "src/column-two";
@import "src/feed";
@import "src/articles";
@import "src/login";
@import "src/article";
@import "src/notify";
