.full-article {
  width:inherit;
  color:inherit;
  //background: #fff;
  transition: all .6s ease;

  .full-article {
    //background: #fff;
    padding-bottom: 5rem;
  }

  .article-title {
    text-overflow: ellipsis;
  }

}


