.article-placeholder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.article-placeholder:before {
  position: fixed;
  left:0;
  top:0;
  content: "";
  background-image: url("/ember-frontend/img/feed-icon.png");
  background-repeat: no-repeat;
  background-size: 50%;
  filter: opacity(20%);
}

.articles {
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-self: flex-start !important;
  flex-direction: column;
  margin-bottom: -6rem;
  padding-bottom: 6rem;

  #article-list-items {
    @include overflow-scroll();

    .article-list-item {
      padding: .5rem;
      border-top: 1px solid #ccc;
      font-size: .8rem;

      .article-title {
        font-size: .9rem;
      }

    }

  }

  #articles-header {
    grid-area: articles-header;
    padding: .5rem;

    > img {
      max-height: 5em;
      margin-left: -.5rem;
      margin-top: -.5rem;
    }

  }

}

