.feeds {
  @include overflow-scroll();
  padding-left: 0;

  .list-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .list-group-item {
    border: none;
    padding: 0;
  }

  .folder-item {
    padding: 1rem;
    font-weight: bold;
    color: #2d4373;
    background:#eee;

    .feed-item {
      background:inherit;
    }
  }

  .feed-icon {
    margin-right: 1rem;
    width: 16px;
    max-width: 16px;
    img {
      width: inherit;
      max-width: inherit;
    }
  }

  .icon {
    padding-right: 1rem;
  }

  a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    color: #2d4373;
    font-weight: bold;

    &:hover {
      background: #ccc;
    }

    &.active {
      background: lighten($header-bg-color, 20%);
      color: #fff;
    }
  }

}
