$main-box-background-color: #003366;

@mixin overflow-scroll() {
  //overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  //overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

body {
  font: 100% sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;

  div.ember-view:first-child {
    width:inherit;
    height:inherit;
    display: grid;
    grid-template-areas: "header header" "side-bar content";
    background:#ccc;
    grid-template-rows: 2em 1fr;
    grid-template-columns: 6em 1fr;

    header {
      grid-area: header;
    }

  }
}

.action {
  cursor: pointer;
}

