header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    padding-left:1rem;
  }

  &:last-child {
    padding-right:1rem;
  }

  .nav-link {
    color:#eee;

    &.active {
      color:darken(#eee, 80%);
      background:#ccc;
    }
  }


}
