<div class="container">
  <div class="form-outer text-center align-items-center">
    <div class="form-inner">
      <div class="logo text-uppercase">
        <span>Patch Cloud</span><br/>
        <span class="text-primary">Login</span>
      </div>
      {{#if errorMessage}}
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      {{/if}}
      <form id="login-form" {{action 'authenticate' on='submit'}}>
        <div class="required form-group">
          {{input id='identification' placeholder='Enter username' value=identification classNames="form-control"}}
        </div>
        <div class="required form-group">
          {{input id='password' placeholder='Enter password' type='password' value=password
                  classNames="form-control"}}
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>