$h1-font-size:1.4rem;
$h2-font-size:1.35rem;
$h3-font-size:1.3rem;
$h4-font-size:1.3rem;
$h5-font-size:1.2rem;
$h6-font-size:1.1rem;


@import 'src/general';
@import "ember-bootstrap/bootstrap";
@import "src/buttons";
@import "src/login";
@import "src/header";
@import "src/side-bar";
@import "src/feed";
@import "src/articles";
@import "src/article";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
