<vbox lg="3" md="3" class="side-bar" align="start" justify="start">
  <hbox align="start" justify="start">
    <div class="list-group">
      {{#each model.folders as |folder|}}
        {{folder-item folder=folder}}
      {{/each}}
    </div>

    <div class="list-group">
      {{#each model.feeds as |feed|}}
        {{feed-item feed=feed}}
      {{/each}}
    </div>
  </hbox>
</vbox>

<vbox md="9" lg="9" class="article-list">
  <hbox fill align="start">
    {{liquid-outlet "article-list" use="cross-fade"}}
  </hbox>
</vbox>

<vbox md="7" lg="7" hidden class="article-content">
  {{liquid-outlet "article-conten" use="cross-fade"}}
</vbox>
