<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-5 col-xl-4 side-bar mh-100">

    <div class="list-group folder-list">
      {{#each model.folders as |folder|}}
        {{folder-item folder=folder classNames="folder-item list-group-item"}}
      {{/each}}
    </div>

    <div class="list-group feed-list">
      {{#each model.feeds as |feed|}}
        {{feed-item feed=feed classNames="list-group-item feed-item"}}
      {{/each}}
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-4 col-xl-8" class="article-list">
    {{outlet "article-list" tagName=''}}
  </div>
</div>

{{outlet "article" use="cross-fade" className="hidden article"}}


