$mobile: 468px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;
$widescreen: 1920px;

$main-box-background-color: #003366;

@mixin overflow-scroll() {
  //overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  //overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

@mixin full-height() {
  min-height: 100%;
  max-height: 100%;
  height: 100vh;
}

html, body {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  > div.ember-view {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    height: inherit;
    max-height: 100vh;
    min-height: 100vh;
  }
}

#content {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  background: #fff;
  z-index: 4;
  padding-bottom: 5rem;
  padding-top: 1rem;
  @include overflow-scroll();
  @include full-height();
}

#side-bar {
  background: $main-box-background-color;
  border-radius: 0;
  width: 100%;
  @include overflow-scroll();
  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 1;
  margin: 0;
  padding-bottom: 5rem;

  .feed-icon.image {
    width: 2em;
    height: 2em;
  }
}

#article-list {

  padding-top: 5rem;

  #feed-header {
    width: inherit;
    right: 0;
    left: auto;

    .header.item {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 25%;
    }

    span.menu-icon-label {
      display: none !important;
    }
  }

  background: #fff;
  position: absolute;
  z-index: 2;
  /* has to be scroll, not auto */
  @include overflow-scroll();
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all .6s ease;

  #article-list-container {
    font-size: .9rem;
    height: auto;
    //@include overflow-scroll();
    padding-bottom: 5rem;

    .article.item {
      padding: 1rem;

      .description {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      .ui.tiny.image {
        display: none;
      }
    }
  }

}

#article-list.activated {
  width: 100%;
}

#article-overlay {
  min-height: 100vh;
  max-height: 100vh;
  /* has to be scroll, not auto */
  @include overflow-scroll();
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  z-index: 3;
  background: rgba(11, 11, 11, .75);
  transition: all .6s ease;

  .article-full {
    background: #fff;
    padding-bottom: 5rem;
  }

  .article-title {
    text-overflow: ellipsis;
  }

  .article-embed {
    height: 80vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

#article-overlay.activated {
  width: 100%;
}

#article-content-container {
  min-height: 100vh;
  max-height: 100vh;
  /* has to be scroll, not auto */
  @include overflow-scroll();
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  z-index: 4;
  box-shadow: 3px 3px rgba(0, 0, 0, .16), -1em 0 0.4em rgba(0, 0, 0, .16);
  background: rgba(11, 11, 11, .9);
  transition: all 0.5s ease;

  .article-full {
    background: #fff;
  }

  .article-title {
    text-overflow: ellipsis;
  }

  .article-body {
    padding-bottom: 3rem;
  }

  .article-embed {
    height: 80vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

#article-content-container.open {
  width: 60%;
}

#content.activated {
  width: 100%;
}

.article-title.ui.header.blue {
  color: #003366 !important;
}

.article.item {
  padding-bottom: 4rem;
}

.article.item:hover {
  background: lighten(#1F88BE, 50);
}

.ui.adjust.image {
  max-width: 100%;
  max-height: 100%;
}

.article-close-button {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

#side-bar {
  .feed-title {
    max-width: 100px;
    text-overflow: ellipsis;
  }
}

.action {
  cursor: pointer;
}

blockquote {
  padding-left: 1.3rem;
  border-left: .3rem solid #ccc;
}

@media only screen and (min-width: $mobile + 1px) and (max-width: $tablet - 1px) {
  $side-bar-width: 40%;
  $second-overlay-width: 100% - $side-bar-width;

  #side-bar {
    width: $side-bar-width !important;
    z-index: 1;
    transition: all .5s ease;
    font-size: .85rem;
  }

  #content {
    width: 0;
    transition: all .5s ease;
  }

  #content.activated {
    width: $second-overlay-width;
  }

  #article-list, #article-list.activated {
    font-size: .85rem;
    position: absolute;
    right: 0;
    top: 0;
    width: $second-overlay-width;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {

  $side-bar-width: 35%;
  $second-overlay-width: 100% - $side-bar-width;

  #side-bar {
    width: $side-bar-width !important;
    z-index: 1;
    transition: all .5s ease;
  }

  #content {
    width: 0;
    transition: all .5s ease;
  }

  #content.activated {
    width: $second-overlay-width;
  }

  #article-list, #article-list.activated {
    position: absolute;
    right: 0;
    top: 0;
    width: $second-overlay-width;
  }

  #article-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: 3;
    transition: all .5s ease;

  }

  #article-overlay.activated {
    width: 60%;
    box-shadow: 3px 3px rgba(0, 0, 0, .16), -1em 0 0.4em rgba(0, 0, 0, .16);
  }

}

@media only screen and (min-width: $desktop+ 1px) {
  $side-bar-width: 25%;
  $second-overlay-width: 100% - $side-bar-width;
  $article-overlay: 10%;

  #side-bar {
    width: $side-bar-width !important;
    z-index: 1;
    transition: all .5s ease;
  }

  #content {
    width: 0;
    transition: all .5s ease;
  }

  #content.activated {
    width: $second-overlay-width;
  }

  #article-list, #article-list.activated {
    position: absolute;
    right: 0;
    top: 0;
    width: $second-overlay-width;
  }

  #article-overlay.activated {
    width: 60%;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);

    .article-full {
      font-size: 1.2rem;
    }
  }

}

@media only screen and (min-width: $widescreen) {

  $side-bar-width: 20%;
  $second-overlay-width: 100% - $side-bar-width;

  #side-bar {
    width: $side-bar-width !important;
    z-index: 1;
    transition: all .5s ease;
  }

  #content {
    width: 0;
    transition: all .5s ease;
  }

  #content.activated {
    width: $second-overlay-width;
  }

  #article-list, #article-list.activated {
    position: absolute;
    right: 0;
    top: 0;
    width: $second-overlay-width;
  }

}
