<h2>Add a feed</h2>
<div class="form-group">
  <label for="url">Url</label>
  {{input type="text" class="form-control" value=model.url}}
</div>
<button class="btn btn-secondary" type="button" {{action (route-action "discover")}}>Discover</button>

{{#if model.feeds}}
  {{#each model.feeds as |feed|}}
    <div>{{feed.url}}</div>
  {{/each}}
{{/if}}
