<h2>Add a feed</h2>

<div class="form-group">
  <label for="">Create in folder (optional)</label>
  {{#power-select
    placeholder="Folder"
    classNames="form-control"
    options=model.folders
    selected=model.feed.folder
    onchange=(action (mut model.feed.folder)) as |folder|}}
    {{folder.name}}
  {{/power-select}}
</div>

<div class="mb-3">
  {{discover-feed
    feed=model.feed
    onSelect=(route-action "subscribe")
  }}
</div>

{{#if model.feed.feedUrl}}
  <button class="btn btn-primary" onclick={{action (route-action "subscribe")}}>
    Subscribe
  </button>
{{/if}}
