<h2>Add a feed</h2>

<div class="form-group">
  <label for="">Create in folder (optional)</label>
  {{#power-select
    placeholder="Folder"
    classNames="form-control"
    options=model.folders
    selected=feed.folder
    onchange=(action (mut feed.folder)) as |folder|}}
    {{folder.name}}
  {{/power-select}}
</div>

<div class="mb-3">
  {{discover-feed
    feed=model
    onSelect=(route-action "subscribe")
  }}
</div>
